.container {
    max-width: 1200px;
    margin: auto;
    padding-top: 30px;
}
.forms{
  display: flex;
  justify-content: center;
}
#searchInput{
    width: 400px;
}
.flex-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
img{
    margin: 0 10px 10px 0;
    border-radius: 10px;
    box-shadow: 3px 4px 8px gray;
}